.dashboard-title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.red-card h6,
.red-card h4 {
  color: white; /* Ensure the text inside the card is white */
}

.card {
  width: 300px;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.chart-card {
  background-color: #f9f9f9; /* Light background for charts */
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
}

.chart-card:hover {
  border-color: #8884d8;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content h6 {
  color: #555;
}

.card-content h4 {
  color: #333;
  font-weight: bold;
}

.chart-title {
  color: #8884d8; /* Color for chart titles */
  margin-bottom: 10px;
  text-align: center;
}

/* Specific styles for each chart */
.line-chart {
  background-color: #fff;
  border-radius: 12px;
  /* padding: 10px; */
}

.pie-chart {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
}

/* Bar chart styles */
.rebar-chart {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .dashboard-title {
    font-size: 2rem; /* Medium screens */
  }
}

@media (max-width: 900px) {
  .dashboard-title {
    font-size: 1.5rem; /* Smaller screens */
  }

  .card {
    margin: 10px 0;
  }

  .chart-card {
    margin: 10px 0; /* Adjust chart spacing */
  }
}

/* Ensure charts are responsive */
.chart-card {
  width: 100%; /* Allow charts to take full width of their container */
}
